.container { 
    width: 1300px;
    margin: 0 auto; 
}
header {
   background: url(../img/hero_1.jpg)center/cover; 
   height: 100vh;
}
.logo{
    color: #fff;
    font: 600 24px arial;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 600px;
}